# Redot 4+ specific ignores
.godot/
/android/

godot/flight_controller/target/

companion/target/

remote_controller/target/

godot/polymorph/target/

robomorph/target/

controller/target/

*.lock

companion/Logs/

robomorph/Logs/

polymorph_embedded/target/

backup/
